{% extends "layout/_base.html" %}
{% block title %}Home{% endblock %}
{% block style %}
    {% load static %}
    <link href="{% static "users/form1.css" %}" rel="stylesheet"/>
    <link href="{% static "users/click.css" %}" rel="stylesheet"/>
    <style>
        body {
            background-color: violet;
        }

    </style>
{% endblock %}
{% block body %}
    <br>
    <br>
    <center>
        <h3>Welcome please select one</h3>
        <div class="loginBox">
            <br>
            <button class="button-63">
                <a href="/accounts/register/" style="color: white">Register</a>
            </button>

            <br>
            <br>

            <button class="button-63">
                <a href="/accounts/login/" style="color: white">Login</a>
            </button>

        </div>
        {{ message }}
    </center>

{% endblock %}