{% extends "layout/_base.html" %}
{% block title %}Inbox{% endblock %}
{% block style %}
    {% load static %}
    <link href="{% static "emails/sidebarr.css" %}" rel="stylesheet"/>
    <link href="{% static "emails/listing.css" %}" rel="stylesheet"/>
    <style>
        .contact {
            color: #AF40FF;
            font: bold;
        }
    </style>
{% endblock %}
{% block body %}
    <center>
        <div class="header">
            <h4>
                {{ user.username }}
            </h4>
        </div>
        <div class="card border border-danger"
             style="width: 40rem;height:auto;background-color: bisque;
             color: black; margin-top: 5rem ;" ;>

            <form method="post" action="/gmz-email/contact-detail/{{ contact.id }}/">
                {% csrf_token %}
                <br>
                <h4 class="contact"><strong>name : {{ contact.name }}</strong></h4>
                <br>
                <h5>edit name : </h5>
                <p>
                    {{ form2.name }}
                </p>
                <br>
                <p class="contact">
                    email : {{ contact.email }}
                </p>
                <br>

                <h5>edit email : </h5>
                <p>
                    {{ form2.email }}
                </p>
                <br>
                <p class="contact">
                    phone : {{ contact.phone }}
                </p>
                <br>
                <h5>edit phone : </h5>
                <p>
                    {{ form2.phone }}
                </p>
                <br>
                <p class="contact">
                    other emails {{ contact.emails }}
                </p>
                <br>
                <h5>edit emails : </h5>
                <p>
                    {{ form2.emails }}
                </p>
                <br>
                <p class="contact">
                    birth date : {{ cintact.birth_date }}
                </p>
                <br>
                <label>edit birth date</label>

                <input type="date" name="birth_date" value="111" style="width: 100px">

                <br>
                <br>
                <input type="submit" class="btn btn-outline-success" value="Edit">
                <br>
                <br>
            </form>
        </div>
        <br>
        {% include "emails/new_email.html" %}
        {% include "emails/new_contact.html" %}
    </center>

    {% include "layout/_sidebar.html" %}
{% endblock %}
