{% extends "layout/_base.html" %}
{% block title %}Draft{% endblock %}
{% block style %}
    {% load static %}

    <link href="{% static "emails/sidebarr.css" %}" rel="stylesheet"/>
    <link href="{% static "emails/listing.css" %}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <center>
    {% include "comments/label_message.html" %}
        <div class="header">
            <h4>
                Drafts
            </h4>
        </div>
        {% include "layout/_labels.html" %}
        <ol>
            {% if object_list %}
                {% for email in object_list %}
                    <li class="">
                        <a href="/gmz-email/email-detail/{{ email.id }}">
                            Draft : {{ email.title }} - {{ email.pub_date }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

        </ol>
        {% include "emails/new_email.html" %}
        {% include "users/new_contact.html" %}
    </center>
    {% include "layout/_sidebar.html" %}
{% endblock %}
