<div id="removelabel" class="modal" role="dialog"
     style="color: red; #5B42F3;margin-top: 10px; align-items: center"">
<form method="post"
      style="width: 500px;height: auto;background-color: cornflowerblue"
      action="/gmz-email/remove-label/{{ email.pk }}/"
      enctype="multipart/form-data">
    {% csrf_token %}
    <center>
        <br>
        <h3>Select Lable</h3>
        <br>
        <br>
        <div style="display: flex;flex-direction: column">
            <center>

                <select name="title" style="width: 200px;color: #DC143C;font: 20px">
                    <option>...</option>

                    {% for email_label in email_labels %}
                        <option>{{ email_label }}</option>
                    {% endfor %}
                    <hr style="color: #DC143C">
                </select>
            </center>
        </div>
    </center>
    <br>
    <input type="submit" name="email_submit" class="btn btn-outline-success" value="submit">
    <button type="submit" data-dismiss="modal" class="btn btn-outline-secondary" name="draft_submit" value="close">
        cancel
    </button>
</form>
</div>